{% extends "hello/layout.html" %}

{% block title %}
Contact
{% endblock %}

{% block content %}
    <div class="centered">
        <h1>Contact Us</h1>
        <h2>In case of questions or feedback, feel free to reach us!</h2>

        <br>

        <h5>You can find us by:</h5>
        <ul>
            <li>
                <i class="bi bi-envelope"></i>
                Email: <a href="mailto:contact@medicalapp.com">contact@radapp.com</a>
            </li>
            <li>
                <i class="bi bi-telephone"></i>
                Phone: +48 123 456 789</a>
            </li>
            <li>
                <i class="bi bi-geo-alt"></i>
                Address: Kraków, Poland
            </li>
        </ul>
        <br>
        <p>Also, please don't hesitate to report a bug <i class="bi bi-bug"></i> or suggest a new feature <i class="bi bi-lightbulb"></i></p>
    </div>
{% endblock %}