<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<div class = "header-banner">
    {% load static %} 
    <img src="{% static 'hello/images/marble.png' %}" alt="Header Image">
</div>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #38598b;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">RadApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_panel' %}
                        active{% endif %}" href="{% url 'user_panel' %}">
                        User Panel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'upload_image' %}
                        active{% endif %}" href="{% url 'upload_image' %}">
                        Add Image</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'select_image_for_binary_mask' %}
                        active{% endif %}" href="{% url 'select_image_for_binary_mask' %}">
                        Create Mask</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'view_radiomics_results' %}
                        active{% endif %}" href="{% url 'view_radiomics_results' %}">
                        Radiomics Results</a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="small-btn-login-nav">Log out</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'home' %}
                        active{% endif %}" href="{% url 'home' %}">
                        Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'about' %}
                        active{% endif %}" href="{% url 'about' %}">
                        About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}
                        active{% endif %}" href="{% url 'contact' %}">
                        Contact</a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'login' %}" method="get" class="d-inline">
                            <button type="submit" class="small-btn-login-nav">Log in</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="body-content">
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {% endif %}
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}
    <hr/>
    <footer type="footer" class="footer">
        <p>Aplikacje_Webowe_2026</p>
    </footer>
</div>
</body>
</html>
