{% extends "hello/layout.html" %}

{% block title %}
User Panel
{% endblock %}

{% block content %}
<div class="centered">
    <h1>Welcome to your User Panel!</h1>
    <h3>From here you can freely navigate through this app functionalities.</h3>
    <br>

    {% if user.is_authenticated %}
        <h5>Hello, {{ user.username }}! You have logged in successfully.</h5>
        <br><br>
        <p>Want to log out? Check the navigation menu or click the button below.</p>
        <form action = "{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="small-btn-login">
                <i class="bi bi-door-closed"></i> Log Out
            </button>
        </form>

    {% else %}
        <p>You are not logged in. Please <a href="{% url 'login' %}">log in</a> to access more of this app features!</p>
    {% endif %}
</div>
{% endblock %}