{% extends "hello/layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %} 
<div class="centered">
    <h1>Join us!</h1>
    <h3>Please sign up to access features available only for authenticated users.</h3>
    <br>

    <div class = "signup-container">
        <div class = "signup-box">
            <h2>Please sign up here!</h2>

            <form method="post">
                {% csrf_token %}
  
                {{ form.as_p }}

                <button type="submit" class="btn-login">Sign Up!</button>
            </form>
        </div>
    </div>

    <br><br>
    <p>Already have an account? Perfect!</p>
    <p>Please don't waste any time and log in using the button below.</p>
    <a href="{% url 'login' %}" class="small-btn-login">Log in here!</a></p>
</div>
{% endblock %}